.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px white solid;
  border-radius: 12px;
  margin: 2%;
  color: white;
  width: 45%;
  height: 100%;
}

.name {
  font-size: 1.5rem;
  margin: 8px 0;
}

.dataText {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.input {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}

.dataSpan {
  padding: 4px 0;
  font-size: 1.2rem;
  width: 50%;
}

.phSpan {
  display: none;
}

.phData {
  text-align: center;
}

input {
  outline: none;
  background: transparent;
  border: none;
  text-decoration: underline;
  color: white;
  font-family: 'Zain', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
  text-align: right;
  height: fit-content;
  font-size: 1.2rem;
  overflow: hidden;
  font-weight: 300;
}

input::placeholder {
  color: white;
}

.container svg {
  width: 80%;
  aspect-ratio: 1;
  fill: white;
  margin: 6px 0;
}

@media (orientation: portrait) {
  .container {
    width: clamp(30px, 45%, 80px );
  }

  .name {
    font-size: .9rem;
  }

  .dataText {
    font-size: .9rem;
  }

  .dataSpan {
    font-size: .9rem;
    padding: 6px 0;
  }

  input {
    font-size: .9rem;
  }
}