.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  text-align: center;
  color: white;
  font-size: 2.4rem;
  margin-top: 30px;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
}

.singleOption {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  color: white;
  text-align: center;
  margin: 0 12px;
  margin-top: 18px;
  cursor: pointer;
  transition: .2s ease-in-out;

  svg {
    width: 90%;
    fill: white;
  }
}

.type {
  font-size: 1.9rem;
}

.activeType {
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 12px;
}

.singleOption:hover {
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 12px;
}

.sizeContainer {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 20px;
}

.size {
  color: white;
  font-size: 1.8rem;
  padding: 12px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.size:hover {
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 12px;
}

.activeSize {
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 12px;
}

.continue {
  font-size: 2rem;
  color: white;
  transition: .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.139);
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
}

.continue:hover {
  background-color: rgba(90, 202, 167, 0.366);
}

@media (orientation: portrait){
  .container {
    flex-grow: 1;
  }

  .head {
    font-size: 1.8rem;
  }

  .sizeContainer {
    width: 100%;
  }

  .type {
    font-size: 1.4rem;
  }

  .size {
    font-size: 1.3rem ;
  }
}