.container {
  flex-grow: 1;
  display: grid;
  grid-template: 100% / 20% 60% 20%;
  padding: 20px;
  z-index: 2;
}

.aquarium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  max-height: 900px;
  object-fit: contain;
  width: 100%;
}

.data {
  font-size: 1.4rem;
}

.dataDiv {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.stats {
  max-width: 240px;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 20px 10px;
}

.basics {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(27, 75, 42, 0.34);
  border-radius: 16px;
  margin: 5px 0;
  padding: 5px 0;
}

.dataContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0;
}

.addContainer {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.round {
  width: 75%;
  max-width: 700px;
  aspect-ratio: 1;
}

.square {
  width: 85%;
  aspect-ratio: 2/1;
}

@media (orientation: portrait) {
  .container {
    grid-template: 13% 55% 32% / 1fr;
    padding: 10px;
    height: 90%;
    align-items: center;
  }

  .thing {
    order: 3;
    height: 100%;
    padding-bottom: 20px;
  }

  .aquarium {
    order: 2;
    height: 100%;
  }

  .dataDiv {
    order: 1;
  }

  .stats {
    flex-direction: row;
    max-width: none;
    min-width: none;
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }

  .basics {
    width: clamp(60px, 33%, 160px);
    height: 80%;
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .dataContainer {
    width: clamp(60px, 33%, 160px);
    height: 80%;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .image {
    max-height: 50vh;
  }
}
