.head {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  padding: 7px 20px;
}

.logo {
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;

  svg {
    width: 100%;
    aspect-ratio: 1;
    fill: white;
  }
}

.addToTank {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plantOption,
.creatureOption {
  width: 80px;
  aspect-ratio: 1;
  padding: 8px;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  svg {
    width: 100%;
    fill: white;
  }
}

.plantOption:hover,
.creatureOption:hover {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.139);
}

.plant,
.creature {
  display: none;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: rgba(80, 146, 127, 0.893);
  border-radius: 12px;
  position: absolute;
  padding: 5px;
  top: 80px;
  white-space: nowrap;
  color: white;
  font-size: 1.2rem;
  z-index: 12;
}

.plant{
  right: 0;
}

.creature {
  left: 0;
}

.dropdown {
  max-height: 200px;
  padding: 3px 8px;
  z-index: 10;
  border-radius: 7px;
}

.dropdown:hover {
  background-color: rgba(255, 255, 255, 0.104);
}

.line {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 45, 25, 0.274), rgba(0, 87, 128, 0.157));
  margin: 3px 0;
}

.active {
  display: flex;
}

.info {
  font-size: 1.6rem;
  text-align: right;
  color: white;
  padding-bottom: 24px;
}

.tankInfo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media (orientation: portrait) {
  .logo {
    width: 40px;
  }

  .plantOption,
  .creatureOption {
    width: 60px;
    margin: 0 8px;
  }

  .info {
    font-size: .9rem;
    padding-bottom: 0;
    width: 80px;
  }

  .plant,
  .creature {
    font-size: .9rem;
  }
}

@media (orientation: portrait) {
  .head {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 200;
  }
}