.head {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  padding: 7px 20px;
}

.logo {
  width: 56px;
  height: 56px;

  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }
}

.addToTank {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plantOption,
.creatureOption {
  width: 80px;
  aspect-ratio: 1;
  padding: 8px;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    width: 100%;
    fill: white;
  }
}

.plantOption:hover,
.creatureOption:hover {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.139);
}

.plant {
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 1.6rem;
  text-align: right;
  color: white;
}